.table-container {
 width: 100%;
 height: auto;
 align-content: center;
 align-items: center;
 text-align: center;
}

.center-modal{
  border: 1px solid black;
  border-radius: 20px ;
  padding: 1rem;
  align-items:center
}

